body{
    background: #000;
    color: #fff;
    font-size: 1em;
    font-family: 'Roobert', sans-serif !important;
    cursor: crosshair;
}

.main-row{
    margin: 0px auto;
}
.inner-hero{
    margin: 0px auto !important;
}


//Floating Menu
.floating-menu{
    background: black;
    padding: 20px;
    color: #fff;
    border:1px solid #ccc;
    // float: inline-end !important;
    right: 0;
    margin-top:35vh;
    width: 200px;
    z-index: 100;
    position: fixed;
    a{
        text-decoration: none;
        color: #fff;
        font-size: 1.2em;
        display: block;
        margin-bottom: 15px;
        padding-bottom: 10px;
    }
    .external-links{
        color: #888;
        // &::after{
        //     content: ' ↗';
        // }
    }
}

//bottom-line
.bottom-line{
    border-bottom: 1px solid #111;
    padding: 80px 0px;
}
//sectional stroke
.stroked-out{
    // text-shadow: #fff 0px 0px 1px;
    color: #ccc;
    font-size: 2.4em;
    // font-weight: 700;
    padding: 0px;
}

//no padding for stroked out
.no-pads{
    padding: 0px !important;
}
//Hero
.hero-text{
    color: #fff !important;
    
    .hero-title{
        font-size: 2em;
        font-weight: 700;
        margin-bottom: 20px;
    }
    .pretitle,.hero-subtitle{
        font-size: 1.6em;
        line-height: 1.2;
        margin-bottom:10px;
    }
    .my-intro{
        font-size: 4em;
        line-height: 1.2;
        margin-bottom: 5px;
    }
    .one-liner{
        margin-bottom: 20px;
    }
    li{
        display: inline;
        // padding-right: 5px;
        color:#888888;
        &::after{
            content:" / "

        }
    }
}



//About
.about-img{
    img{
        border-radius:10px;
    }
}
.about-text{
    font-size: 1em;
    column-count: 2;
    column-gap: 100px;
    // margin-left: 60px;
    p{
        margin-bottom: 20px;
        line-height: 160%;
        text-align: justify;
  text-justify: inter-word;
    }
}


//Experience 
.work-wrapper{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap:20px;
    grid-template-rows: max-content;
}
.work-box{
    padding:30px;
    border: 1px solid #222;
    color: #fff !important;
    transition: transform 0.25s ease-out !important;
    .organization{
        font-size:1em;
        font-weight: 500;
        color: #888888;
    }
    .position{
        font-size:1.4em;
        line-height: 100%;
        margin-bottom: 10px;
        span{
            font-size: .8em !important;
            color: #888;
        }
        
    }
    .dates{
        font-size:.8em;
        color: #666;
    }
    &:hover{
        background: #111;
        border:1px solid #666;
        color: #fff !important;
        transition: transform 0.25s ease-out !important;
    }
}
.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: #666;
  }
  .hover-underline-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 8px;
    bottom: 0;
    left: 0;
    background-color: #666;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  .hover-underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

.clientele{
    h2{
        font-size: 3em;
        
    }

    .clientele-text{
        line-height: 140%;

    }
}

.text-rotating{
    color: #888888;
}




//Fave Box
.fave-box{
    padding: 50px 0px;
    border-bottom: 1px solid #222;
    img{
        filter: grayscale(100%);
     }
    .fave-details{
        padding: 0px 30px;
        .project-title{
            font-size: 1.8em;
            font-weight: 700;
            margin-bottom: 5px;
        }
        .project-text{
            line-height: 160% !important;
            font-size: 1.2em;;
        }
        .project-type{
            padding: 4px 16px;
            margin-bottom: 20px;
            background:#222;
            display: inline-block;
        }
        .btn-case{
            padding: 10px 24px;
            font-size: 1em;
            color: #fff;
            text-decoration: none;
            border: 1px solid #fff;
            margin-top: 40px;
            display: none;
            text-transform: uppercase;
            
            &:hover{
                background: #222;
                color: #fff;
                border: 1px solid #fff;;
            }
            span{
                font-size: .8em;
                text-transform: lowercase;
            }
        }
    }
   
    &:hover{
        img{
          filter: grayscale(00%);
       }
       .project-title{
           font-size: 1.8em;
           color: #888;
           font-weight: 700;
        //    margin-top: 20px;
        //    margin-bottom: 20px;
       }
   }
}


.quik-wrapper{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows:max-content;
    grid-gap:50px;

}
.quik-box{
    img{
        display: block;
        width: 100%;
        margin-bottom: 10px;
        border-radius:10px;
        filter: grayscale(100%);
        &:hover{
            color: #ccc;
            
                filter: grayscale(00%);
            
        }
    }
    h2{
        font-size: 1.4em;
        margin-bottom: 10px;
    }

    li{
        display: inline-block;
        border: 1px solid #efefef;
        padding: 5px 10px;
        border-radius:3px;
        margin-right: 10px;
        font-size:.8em;
    }

    a{
        text-decoration: none;
        margin-top: 10px;
        color: #fff;
        &:hover{
            color: #ccc;
        }
    }
}


//Case Studies
.case-wrapper{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap:100px;
    grid-template-rows: max-content;
}
.case-box{
    img{
        width: 100%;
        height: auto;
        filter: grayscale(100%);
    }
    .project-title{
        font-size: 1.6em;
        font-weight: 700;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .btn-case{
        padding: 10px 24px;
        font-size: 1em;
        color: #fff;
        text-decoration: none;
        border: 1px solid #fff;
        margin-top: 20px;
        display: inline-block;
        text-transform: uppercase;
        &:hover{
            background: #666 !important;
            color: #000;
        }
        span{
            font-size: .8em;
            text-transform: lowercase;
        }
    }
    &:hover{
         img{
           filter: grayscale(00%);
        }
        .project-title{
            font-size: 1.6em;
            font-weight: 700;
            margin-top: 20px;
            margin-bottom: 20px;
        }
    }
}


//Contact 

.contact-wrapper{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: max-content;
    grid-gap: 30px;
}
.contact-box{
    a{
        color: #fff;
        text-decoration: none;
        font-size: 1.2em;
        padding-bottom: 10px;
    }
}


//Footer
footer{
    padding: 30px;
    font-size: .8em;
}

@media only screen and (max-width: 600px) {

    // nav{
    //     display: none;
    // }
    .stroked-out{
        font-size:1.8em;
    }
    .quik-wrapper{
        display:grid;
        grid-template-columns: repeat(1,1fr);
        grid-template-rows:max-content;
        grid-gap:50px;
    
    }
    .quik-box{
        img{
            display: block;
            width: 100%;
            margin-bottom: 10px;
            border-radius:5px;
            filter: grayscale(00%);
            &:hover{
                color: #ccc;
            }
        }
        h2{
            font-size: 1.2em;
            margin-bottom: 10px;
        }
    
        li{
            display: inline-block;
            border: 1px solid #efefef;
            padding: 3px 6px;
            border-radius:3px;
            margin-right: 10px;
            font-size:.8em;
        }
    
        a{
            text-decoration: none;
            margin-top: 10px;
            color: #fff;
            &:hover{
                color: #ccc;
            }
        }
    }
    .hero-text{
        color: #fff !important;
        
        .hero-title{
            font-size: 2.2em;
            font-weight: 700;
            margin-bottom: 50px;
            line-height: 1.2;
        }
        .pretitle,.hero-subtitle{
            font-size: 1.6em;
            line-height: 1.6;
        }
        .my-intro{
            font-size: 3em;
        }
        
    }
    .bottom-line{
        padding: 50px 30px;
    }
    .about-text{
        column-count: 1;
        
    }
    .contact-wrapper{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: max-content;
        grid-gap: 10px;
    }
    .case-wrapper{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-gap:50px;
        grid-template-rows: max-content;
        padding: 0px 30px;
    }
    .work-wrapper{
        display: grid;
        // direction: rtl;
        grid-template-columns: repeat(1,1fr);
        grid-gap:20px;
        grid-template-rows: max-content;
    }
    .turned{
        transform: rotate(0deg);
        margin-bottom: 20px;
    }

    //Sectional Padding

#thetop{
    padding: 50px 00px 0px 0px;
}

.floating-menu{
    display: none;
}
.clientele{
    // margin-top: 50px;
    width: 100%;
    h2{
        font-size: 1.8em;
        line-height: 1.2;
    }

    
}
#case-studies{
    padding: 0px 10px;
}
.fave-details{
    padding: 10px 0px !important;
}
.work-box{
    
    .organization{
        font-size:1em;
        font-weight: 500;
       

    }
    .position{
        font-size:1.4em;
        line-height: 100%;
        margin-bottom: 10px;
    }
    .dates{
        font-size:.8em;
        color: #666;
    }
    &:hover{
        background: #222;
        border:1px solid #666;
        color: #fff !important;
        transition: transform 0.25s ease-out !important;
    }
}

}



$bg-color: #000000;
$outline: rgba(255,255,255,.1);





