body {
  background: #000;
  color: #fff;
  font-size: 1em;
  font-family: 'Roobert', sans-serif !important;
  cursor: crosshair;
}

.main-row {
  margin: 0px auto;
}

.inner-hero {
  margin: 0px auto !important;
}

.floating-menu {
  background: black;
  padding: 20px;
  color: #fff;
  border: 1px solid #ccc;
  right: 0;
  margin-top: 35vh;
  width: 200px;
  z-index: 100;
  position: fixed;
}

.floating-menu a {
  text-decoration: none;
  color: #fff;
  font-size: 1.2em;
  display: block;
  margin-bottom: 15px;
  padding-bottom: 10px;
}

.floating-menu .external-links {
  color: #888;
}

.bottom-line {
  border-bottom: 1px solid #111;
  padding: 80px 0px;
}

.stroked-out {
  color: #ccc;
  font-size: 2.4em;
  padding: 0px;
}

.no-pads {
  padding: 0px !important;
}

.hero-text {
  color: #fff !important;
}

.hero-text .hero-title {
  font-size: 3em;
  font-weight: 700;
  margin-bottom: 20px;
}

.hero-text .pretitle, .hero-text .hero-subtitle {
  font-size: 1.6em;
  line-height: 1.2;
}

.hero-text .my-intro {
  font-size: 4em;
  line-height: 1.2;
  margin-bottom: 30px;
}

.about-text {
  font-size: 1em;
  -webkit-column-count: 2;
          column-count: 2;
  -webkit-column-gap: 100px;
          column-gap: 100px;
}

.about-text p {
  margin-bottom: 20px;
  line-height: 160%;
  text-align: justify;
  text-justify: inter-word;
}

.work-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  -ms-grid-rows: max-content;
      grid-template-rows: -webkit-max-content;
      grid-template-rows: max-content;
}

.work-box {
  padding: 30px;
  border: 1px solid #222;
  color: #fff !important;
  -webkit-transition: -webkit-transform 0.25s ease-out !important;
  transition: -webkit-transform 0.25s ease-out !important;
  transition: transform 0.25s ease-out !important;
  transition: transform 0.25s ease-out, -webkit-transform 0.25s ease-out !important;
}

.work-box .organization {
  font-size: 1em;
  font-weight: 500;
  color: #888888;
}

.work-box .position {
  font-size: 1.4em;
  line-height: 100%;
  margin-bottom: 10px;
}

.work-box .position span {
  font-size: .8em !important;
  color: #888;
}

.work-box .dates {
  font-size: .8em;
  color: #666;
}

.work-box:hover {
  background: #111;
  border: 1px solid #666;
  color: #fff !important;
  -webkit-transition: -webkit-transform 0.25s ease-out !important;
  transition: -webkit-transform 0.25s ease-out !important;
  transition: transform 0.25s ease-out !important;
  transition: transform 0.25s ease-out, -webkit-transform 0.25s ease-out !important;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: #666;
}

.hover-underline-animation::after {
  content: '';
  position: absolute;
  width: 100%;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  height: 8px;
  bottom: 0;
  left: 0;
  background-color: #666;
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
  -webkit-transition: -webkit-transform 0.25s ease-out;
  transition: -webkit-transform 0.25s ease-out;
  transition: transform 0.25s ease-out;
  transition: transform 0.25s ease-out, -webkit-transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
}

.clientele h2 {
  font-size: 3em;
}

.clientele .clientele-text {
  line-height: 140%;
}

.text-rotating {
  color: #888888;
}

.fave-box {
  padding: 50px 0px;
  border-bottom: 1px solid #222;
}

.fave-box img {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.fave-box .fave-details {
  padding: 0px 30px;
}

.fave-box .fave-details .project-title {
  font-size: 1.8em;
  font-weight: 700;
  margin-bottom: 5px;
}

.fave-box .fave-details .project-text {
  line-height: 160% !important;
  font-size: 1.2em;
}

.fave-box .fave-details .project-type {
  padding: 4px 16px;
  margin-bottom: 20px;
  background: #222;
  display: inline-block;
}

.fave-box .fave-details .btn-case {
  padding: 10px 24px;
  font-size: 1em;
  color: #fff;
  text-decoration: none;
  border: 1px solid #fff;
  margin-top: 40px;
  display: none;
  text-transform: uppercase;
}

.fave-box .fave-details .btn-case:hover {
  background: #222;
  color: #fff;
  border: 1px solid #fff;
}

.fave-box .fave-details .btn-case span {
  font-size: .8em;
  text-transform: lowercase;
}

.fave-box:hover img {
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
}

.fave-box:hover .project-title {
  font-size: 1.8em;
  color: #888;
  font-weight: 700;
}

.quik-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: max-content;
      grid-template-rows: -webkit-max-content;
      grid-template-rows: max-content;
  grid-gap: 50px;
}

.quik-box img {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  border-radius: 10px;
}

.quik-box img:hover {
  color: #ccc;
}

.quik-box h2 {
  font-size: 1.8em;
  margin-bottom: 10px;
}

.quik-box li {
  display: inline-block;
  border: 1px solid #efefef;
  padding: 5px 10px;
  border-radius: 3px;
  margin-right: 10px;
  font-size: .8em;
}

.quik-box a {
  text-decoration: none;
  margin-top: 10px;
  color: #fff;
}

.quik-box a:hover {
  color: #ccc;
}

.case-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 100px;
  -ms-grid-rows: max-content;
      grid-template-rows: -webkit-max-content;
      grid-template-rows: max-content;
}

.case-box img {
  width: 100%;
  height: auto;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.case-box .project-title {
  font-size: 1.6em;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 20px;
}

.case-box .btn-case {
  padding: 10px 24px;
  font-size: 1em;
  color: #fff;
  text-decoration: none;
  border: 1px solid #fff;
  margin-top: 20px;
  display: inline-block;
  text-transform: uppercase;
}

.case-box .btn-case:hover {
  background: #666 !important;
  color: #000;
}

.case-box .btn-case span {
  font-size: .8em;
  text-transform: lowercase;
}

.case-box:hover img {
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
}

.case-box:hover .project-title {
  font-size: 1.6em;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 20px;
}

.contact-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: max-content;
      grid-template-rows: -webkit-max-content;
      grid-template-rows: max-content;
  grid-gap: 30px;
}

.contact-box a {
  color: #fff;
  text-decoration: none;
  font-size: 1.2em;
  padding-bottom: 10px;
}

footer {
  padding: 30px;
  font-size: .8em;
}

@media only screen and (max-width: 600px) {
  .stroked-out {
    font-size: 1.8em;
  }
  .quik-wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    -ms-grid-rows: max-content;
        grid-template-rows: -webkit-max-content;
        grid-template-rows: max-content;
    grid-gap: 50px;
  }
  .quik-box img {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    border-radius: 5px;
  }
  .quik-box img:hover {
    color: #ccc;
  }
  .quik-box h2 {
    font-size: 1.2em;
    margin-bottom: 10px;
  }
  .quik-box li {
    display: inline-block;
    border: 1px solid #efefef;
    padding: 3px 6px;
    border-radius: 3px;
    margin-right: 10px;
    font-size: .8em;
  }
  .quik-box a {
    text-decoration: none;
    margin-top: 10px;
    color: #fff;
  }
  .quik-box a:hover {
    color: #ccc;
  }
  .hero-text {
    color: #fff !important;
  }
  .hero-text .hero-title {
    font-size: 2.4em;
    font-weight: 700;
    margin-bottom: 50px;
    line-height: 1.2;
  }
  .hero-text .pretitle, .hero-text .hero-subtitle {
    font-size: 1.6em;
    line-height: 1.6;
  }
  .hero-text .my-intro {
    font-size: 3em;
  }
  .bottom-line {
    padding: 50px 30px;
  }
  .about-text {
    -webkit-column-count: 1;
            column-count: 1;
  }
  .contact-wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    -ms-grid-rows: max-content;
        grid-template-rows: -webkit-max-content;
        grid-template-rows: max-content;
    grid-gap: 10px;
  }
  .case-wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    grid-gap: 50px;
    -ms-grid-rows: max-content;
        grid-template-rows: -webkit-max-content;
        grid-template-rows: max-content;
    padding: 0px 30px;
  }
  .work-wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
    -ms-grid-rows: max-content;
        grid-template-rows: -webkit-max-content;
        grid-template-rows: max-content;
  }
  .turned {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    margin-bottom: 20px;
  }
  #thetop {
    padding: 50px 00px 0px 0px;
  }
  .floating-menu {
    display: none;
  }
  .clientele {
    width: 100%;
  }
  .clientele h2 {
    font-size: 1.8em;
    line-height: 1.2;
  }
  #case-studies {
    padding: 0px 10px;
  }
  .fave-details {
    padding: 10px 0px !important;
  }
  .work-box .organization {
    font-size: 1em;
    font-weight: 500;
  }
  .work-box .position {
    font-size: 1.4em;
    line-height: 100%;
    margin-bottom: 10px;
  }
  .work-box .dates {
    font-size: .8em;
    color: #666;
  }
  .work-box:hover {
    background: #222;
    border: 1px solid #666;
    color: #fff !important;
    -webkit-transition: -webkit-transform 0.25s ease-out !important;
    transition: -webkit-transform 0.25s ease-out !important;
    transition: transform 0.25s ease-out !important;
    transition: transform 0.25s ease-out, -webkit-transform 0.25s ease-out !important;
  }
}
/*# sourceMappingURL=main.css.map */